ol,
ul {
    list-style: none;
    padding: 0;
}

.list-features li {
    gap: 0.5rem;
    padding-right: 2rem;
}

.list-features li>button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}